.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    float: left;
    margin-left: 40px;
    color: white;
}

html {
    background-image: linear-gradient(to bottom right, #000000, #0f583d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300%;
}

.logo {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.logo:hover {
    color: #00fa9a;
}

.buttons {
    margin-right: 40px;
    margin-top: 42px;
    float: right;
}

.abouttext {
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3ffee;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.abouttext:hover {
    color: mediumspringgreen;
}

.text {
    padding-left: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.thebest {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.gg {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-left: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.bottom {
    float: left;
    margin-left: 40px;
    margin-top: 680px;
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
}

.fact1 {
    padding-top: 142px;
    padding-right: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: right;
}

.fact2 {
    padding-top: 152px;
    padding-left: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: left;
}

.fact3 {
    padding-top: 162px;
    padding-right: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: right;
}

.g1 {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 160px;
    padding-right: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: right;
}

.g2 {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 170px;
    padding-left: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: left;
}

.g3 {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 180px;
    padding-right: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    float: right;
}