.header {
    font-family: 'Agdasima';
    font-size: 24px;
    float: left;
    margin-left: 40px;
    color: white;
}

html {
    background-image: linear-gradient(to bottom right, #000000, #0f583d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: mediumseagreen;
}

.logo {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.logo:hover {
    color: #00fa9a;
}

.buttons {
    margin-right: 40px;
    margin-top: 42px;
    float: right;
    display: inline;
    text-align: right;
    display: block;
}

.abouttext {
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3ffee;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.abouttext:hover {
    color: mediumspringgreen;
}

.text {
    padding-top: 132px;
    padding-left: 40px;
    font-family: 'Segoe UI Medium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.thebest {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.byzaif {
    background-image: linear-gradient(to bottom right, mediumspringgreen, rgb(160, 255, 218));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.bottom {
    float: left;
    margin-left: 40px;
    margin-top: 150px;
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: mediumspringgreen;
}

.articles {
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3ffee;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.articles:hover {
    color: mediumspringgreen;
}

