html {
    background-color: black;
    height: 100%;
}

@font-face {
    font-family: Jost;
    src: url(../files/fonts/Jost-VariableFont_wght.ttf);
}

.header {
    margin: 6px;
    padding-left: 32px;
    padding-right: 32px;
}

#logo {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 38px;
    color: white;
    float: left;
    transition: 300ms;
}

#logo:hover {
    text-shadow: 0px 0px 10px rgb(173, 209, 165);
}

#about {
    font-family: 'Jost';
    font-weight: 300;
    color: white;
    float: right;
    padding-top: 12px;
    transition: 50ms;
}

#about:hover {
    font-weight: 500;
}

#contact {
    font-family: 'Jost';
    font-weight: 300;
    color: white;
    float: right;
    padding-right: 12px;
    padding-top: 12px;
    transition: 50ms;
}

#contact:hover {
    font-weight: 500;
}

.content {
    padding-top: 128px;
    padding-left: 32px;
    vertical-align: middle;
}

#welcome {
    font-family: 'Jost';
    color: darkred;
    font-weight: 300;
    font-size: 82px;
}

.footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 82px;
}

#name {
    font-family: 'Jost';
    color: darkred;
    font-size: 16px;
    float: left;
}

.downloads {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 82px;
}

#dh {
    font-family: 'Jost';
    color: darkred;
    font-size: 16px;
    float: left;
}

#ds {
    font-family: 'Jost';
    color: darkred;
    font-size: 16px;
    float: left;
}